.registration {
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 24px 120px;
  }

  &__title {
    font-size: 26px;
    color: #17408a;
    padding: 30px 0 15px 0;
  }

  &__text {
    font-size: 15px;
    padding: 20px 0;
  }

  &__inputs_section {
    display: flex;
    width: 380px;
    justify-content: space-between;
    padding: 5px 0 20px 0;
  }

  &__input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(17, 1, 68, 0.15);
    padding: 10px;
    width: 180px;
    height: 115px;
    position: relative;
  }

  &__name {
    width: 50vw;
    display: flex;
    flex-direction: column;

    &_area {
      width: 50vw;
      display: flex;
      justify-content: space-between;
    }

    &_container {
      width: 49%;
    }
  }

  &__section_title {
    font-size: 16px;
    color: #475363;
  }

  &__email {
    width: 50vw;
    padding: 15px 0;
  }

  &__terms {
    padding: 25px 0;
  }

  &__checkbox {
    display: flex;
    width: 50vw;
    align-items: flex-start;

    &_text {
      padding: 0;
    }
  }

  &__finish {
    width: 50vw;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;

    &_button {
      border: none;
      padding: 10px 20px;
      margin-left: 10px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      background-color: $yellow;
      color: black;
  }
 }

 &__error {
  font-size: 13px;
  color: #d91616;
 }
}

.text--sign {
  font-size: 18px;
  color: #d91616;
}

.business {
  
&__svg {
  width: 45px;
  height: 45px;
}
}

#business__checkbox {
  position: absolute;
  left: 10px;
  top: 10px;
}

#individual__checkbox {
  position: absolute;
  left: 10px;
  top: 10px;
}

.individual__svg {
  width: 45px;
  height: 45px;
}

.input{

&_field {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

&__label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

&__text {
 font-size: 15px;

 &_smaller {
  font-size: 13px;
  color: #475363;
  text-align: center;
 }
}

&_name {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

&_email {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 10px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

&_checkbox {
  margin: 5px 10px 0 0;
}
}

